
@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }



  /* bg Image */

  #bgImage {
    background-image: url("https://img.freepik.com/free-vector/mobile_677411-3342.jpg?semt=ais_hybrid&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* button design: 
  bg-gradient-to-r from-blue-600 mt-5 to-blue-200 px-10 py-3 rounded-full text-white cursor-pointer
   */